{% extends 'base.html' %}

{# body class #}
{% block bodyClass %}research-page{% endblock bodyClass %}


{# content #}
{% block pageContent %}  

    <!-- service-section -->
    <section class="service-section" style="margin-top:100px;">
        <div class="pattern-layer">
            <div class="pattern-1 wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="background-image: url(/static/assets/img/shape/shape-3.png);"></div>
            <div class="pattern-2  wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="background-image: url(/static/assets/img/shape/shape-4.png);"></div>
        </div>
        <div class="auto-container">
            <div class="sec-title centred">
                <h6>CCPFEWS Services</h6>
                <h2>FEWS Nexus Innovation Using<br />Emerging Tech</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-35"></i></div>
                            <h4><a href="#">FEWS <br />Research</a></h4>
                            <p>We research and innovate real word solutions in the FEWS Nexus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-17"></i></div>
                            <h4><a href="#">Policy Framework And  <br />Guidelines</a></h4>
                            <p>Policy frameworks for optimal production and waste reduction.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-50"></i></div>
                            <h4><a href="#">Optimization<br /> and Modeling</a></h4>
                            <p>We model effective systems design and resource utilization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-51"></i></div>
                            <h4><a href="#">Blockchain <br />Integration</a></h4>
                            <p>Building decentralized systems with secure data exchange.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-36"></i></div>
                            <h4><a href="#">Computer Vision <br /> Integration</a></h4>
                            <p>Merging the virtual and the physical world using innovative CV.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-33"></i></div>
                            <h4><a href="#">Smart <br />Farming</a></h4>
                            <p>Effective resource management using modern innovation and mapping.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-3"></i></div>
                            <h4><a href="#">Drone Design And<br />Programming</a></h4>
                            <p>We build and program drones from different use cases.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-1"></i></div>
                            <h4><a href="#">IoT And <br />Sensors</a></h4>
                            <p> Realtime environmental reading using sensors and faster analysis with AI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- about-section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image_block_7">
                        <div class="image-box">
                            <div class="shape">
                                <div class="shape-1 rotate-me" style="background-image: url(/static/assets/img/shape/shape-56.png);"></div>
                                <div class="shape-2" style="background-image: url(/static/assets/img/shape/shape-57.png);"></div>
                            </div>
                            <figure class="image image-1 paroller"><img src="{{ static('assets/img/affiliate/uj.png') }}" alt="uj logo" style="width: 470px; height:370px;"></figure>
                            <figure class="image image-2 paroller-2"><img src="{{ static('assets/img/logo.jpg') }}" alt="ccpfews logo" style="width: 320px; height:220px;"></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content_block_1">
                        <div class="content-box">
                            <div class="sec-title">
                                <h6>CCPFEWS Research</h6>
                                <h2>Research In Cyber-Physical, Food, Energy and Water System Nexus</h2>
                            </div>
                            <div class="text">
                                <p>
                                    The Center for Cyber-Physical Food, Energy and Water system (CCPFEWS) is an 
                                    entity of the University of Johannesburg within the Department of Electrical 
                                    and Electronic Engineering science. The center comprises a unique team of experienced, 
                                    industrial and academic experts in food, energy, water, and cyber-physical spaces, 
                                    providing research and intellectual outputs. 
                                </p>
                                <ul class="list-style-one clearfix">
                                    <li>Cyber-Physical Research and Innovations</li>
                                    <li>Food, Energy and Water System Nexus</li>
                                    <li>Emerging Technology Innovation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->



    <section class="funfact-style-two alternat-2" style="background-image: url(/static/assets/img/shape/funfact-1.png); margin:-30px 0px 130px 0px; padding: 100px 0 210px 0">
        <div class="pattern-layer" style="background-image: url(/static/assets/img/shape/shape-49.png);"></div>
        <div class="auto-container">
            <div class="sec-title centred">
                <h6 style="font-size: 18px;">Our Partners </h6>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <div class="col-lg-12 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/metu.png')}}" alt="metu" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/imperial_college.jpg')}}" alt="imperial college london" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/uj.png')}}" alt="uj" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/sa_weather.png')}}" alt="sa weather service " style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/osu.png')}}" alt="osu" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/saud_uni.jpg')}}" alt="king saud uni" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="counter-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="{{ static('assets/img/affiliate/rand_water.png')}}" alt="rand water" style="width: 250px; height:100px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </di12>
    </section>
    <!--style-two end -->



    <!-- chooseus-section -->
    <section class="chooseus-section sec-pad bg-color-1">
        <div class="pattern-layer" style="background-image: url(/static/assets/img/shape/shape-21.png);"></div>
        <div class="bg-layer" style="background-image: url(/static/assets/img/service/research.jpg);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                    <div class="content_block_6">
                        <div class="content-box">
                            <div class="sec-title">
                                <h6>Why Choose</h6>
                                <h2>We Ensure You Always Get The Best Results For Every Partnership.</h2>
                            </div>
                            <div class="inner-box">
                                <div class="single-item">
                                    <div class="icon-box"><i class="icon-35"></i></div>
                                    <h4>Team of Researchers and Innovators</h4>
                                    <p>We have a diverse pool of academia, innovators and industrial expert.</p>
                                </div>
                                <div class="single-item">
                                    <div class="icon-box"><i class="icon-51"></i></div>
                                    <h4>Real World Solutions</h4>
                                    <p>We build real solutions to solve real world problems.</p>
                                </div>
                                <div class="single-item">
                                    <div class="icon-box"><i class="icon-36"></i></div>
                                    <h4>Innovation</h4>
                                    <p>We do not just build Systems, we Innovate; creating unique solutions 
                                        to partner's requirements.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chooseus-section end -->


    {% if team %}
        <!-- team-style-three -->
        <section class="team-style-three sec-pad centred">
            <div class="auto-container">
                <div class="sec-title centred">
                    <h6>Team Members</h6>
                    <h2>Academia and Industrial Experts, Focusing <br />On Innovation.</h2>
                </div>
                <div class="row clearfix"> 
                    
                    {% set delays = ["00ms", "300ms", "600ms"]%}
                    
                    {% for team in teams if team %}
                        <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                            <div class="team-block-two wow fadeInUp animated" data-wow-delay="{{delays[loop.index0]}}" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="{{team.image.url}}" alt="{{team.first_name}}"></figure>
                                    <div class="lower-content">
                                        <div class="inner">
                                            <h4><a href="{{ url('team_details', args=[team.profile_id]) }}">{{team.first_name}} {{team.last_name}}</a></h4>
                                            <span class="designation">{{team.role}}</span>
                                            <ul class="social-style-one">
                                                <li><a href="{{team.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                                <li><a href="{{team.researchgate_url}}" target="_blank"><i class="fab fa-researchgate"></i></a></li>
                                                <li><a href="{{team.google_scholar_url}}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- team-style-three end -->
    {% endif %}


{% endblock pageContent %}


{# extra script #}
{% block pageScript %}
    <script src="{{ static('assets/js/ajax.js') }}"></script>
    <script>
        document.querySelector('.owl-carousel .owl-stage-outer').style.overflow='visible';
    </script>
{% endblock pageScript %}