{% extends 'base.html' %}

{# body class #}
{% block bodyClass %}events-page{% endblock bodyClass %}

{# internal style #}
{% block pageStyle %}
    <style>
        @media(max-width: 766px){
            .pagination-wrapper {
                margin-top: -40px !important;
            }
        }
    </style>
{% endblock pageStyle %}



{% block pageContent %}      
    <!-- team-style-three -->
    <section class="events-style-two" style="margin-top: 130px;">
        <div class="pattern-layer" style="background-image: url(/static/assets/img/shape/shape-67.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                 {# animation delay #}
                 {% set delays = ["00ms", "300ms", "600ms", "00ms", "300ms", "600ms"] %}

                {% for profile in profiles if profile %}

                    <div class="col-lg-4 col-md-6 col-sm-12 team-block" style="margin-bottom: 60px;">
                        <div class="team-block-two wow fadeInUp animated" data-wow-delay="{{delays[loop.index0]}}" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{{profile.image.url}}" alt="{{profile.first_name}}" style="width: 370px; height:370px;"></figure>
                                <div class="lower-content">
                                    <div class="inner">
                                        <h4><a href="{{ url('team_details', args=[profile.profile_id]) }}">{{profile.title|default('')}} {{profile.first_name}} {{profile.last_name}}</a></h4>
                                        <span class="designation">{{profile.role}}</span>
                                        <ul class="social-style-one">
                                            <li><a href="{{profile.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a href="{{profile.researchgate_url}}" target="_blank"><i class="fab fa-researchgate"></i></a></li>
                                            <li><a href="{{profile.google_scholar_url}}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-12 col-md-6 col-sm-12 team-block" style="margin-bottom: 60px;">
                        <div class="team-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="inner">
                                        <h4><a href="#">No Team Profile Found.</a></h4>
                                        <span class="designation">CCPFEWS Research. No Team Profile Found; Kindly Check Back Later.</span>
                                        <ul class="social-style-one">
                                            <li><a href="https://www.facebook.com/ccpfewsuj/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="ttps://www.linkedin.com/company/center-for-cyber-physical-food-energy-and-water-systems/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UC7_Tz0aXtmbeU-HW3dgAwqw/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# pagination using only jinja, no js #}
            {% if is_paginated %}
                <div class="pagination-wrapper centred" style="margin-top: 30px;">
                    <ul class="pagination clearfix">                        
                        {# init total pages #}
                        {% set pagesNum = paginator.page_range|count + 1 %}
                        {# init total items in the pagination #}
                        {% set totalItems = paginator.count %}
                        {# init start number for the pagination range #}
                        {% set starterCount = 1 %}
                        {# init current page in the pagination #}
                        {% set currentPage = page_obj.number  %}
                        {# starting  highest page number to show in pagination numbering  eg 1, 2, 3, 4 #}
                        {% set controller = 4 %}
                        {# set the range of the pagination per time#}
                        {% set numberRange = totalItems %}

                        {# set left navigation link #}
                        {% set previous_pagination_link = "" %}
                        {% if page_obj.number - 1  >  0 %}
                            {% set previous_pagination_link = previous_pagination_link + "?page=" + (currentPage - 1)|string %}
                        {% else %}
                            {% set previous_pagination_link = previous_pagination_link + "#" %}
                        {% endif %}
                        
                        {# left pagination #}
                        {% if previous_pagination_link != "#" %}
                            <li><a href="{{previous_pagination_link}}"><i class="fas fa-angle-left"></i></a></li>
                        {% endif %}

                        {# check if the current page is greater than the current controller, if true,
                            increase the number range by the total item plus 1 since a range 
                            will stop at one shy in a loop and then set starter count to the
                            current page minus 2 so that next page will start at 2 for instance
                        #}

                        {% if currentPage > controller  %}
                            {% set numberRange = totalItems + 1 %}
                            {% set starterCount = currentPage - 4 %}
                        {% else %}
                            {% set numberRange = 6 %}
                        {% endif %}

                        {# page numbers to show #}
                        {% if (pagesNum - numberRange - 1)  > 0 %}
                            {% set numberRange = numberRange + (pagesNum - numberRange - 1) %}
                        {% endif  %}
                        {% if currentPage < pagesNum-1 and currentPage > 4 %}
                            {% if (pagesNum - currentPage) >= 1 %}
                                {% set starterCount = currentPage - 2 %}                                                  
                            {% endif  %}
                        {% elif currentPage+2 is divisibleby 5 and currentPage + 1 < pagesNum and currentPage - 2 > 0 %}
                            {% set starterCount = currentPage - 2 %}
                        {% elif currentPage+1 is divisibleby 5 and currentPage + 1 < pagesNum and currentPage - 1 > 0 %}
                            {% set starterCount = currentPage - 1 %}
                        {% endif %}

                        
                        {# loop and set the numbering #}
                        {% for k in range(starterCount, numberRange) %}
                            {% if k <= pagesNum  %}
                                {# add the activate style for current page #}
                                {% if currentPage==k %} 
                                    <li><a href="?page={{k}}" class="current">{{k}}</a></li>
                                    {% if not loop.first %}
                                        {% set starterCount = starterCount + 1 %}
                                        {% set numberRange = numberRange + 1 %}
                                    {% endif %}
                                {% elif loop.index <  pagesNum and k - 4 < starterCount %}
                                    <li><a href="?page={{k}}">{{k}}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {# check if there is still more pages to show #}
                        {% set pageLeft = (pagesNum - 1) - currentPage %}
                        {% if  pageLeft > 1 and pagesNum-1 > 4 %}
                            <li><a href="#">...</a></li>
                        {% endif %} 
                        
                        {# set right navigation button #}
                        {% set next_pagination_link = "" %}
                        {% if currentPage + 1  <  pagesNum %}
                            {% set next_pagination_link = next_pagination_link + "?page=" + (currentPage + 1)|string %}
                        {% else %}
                            {% set next_pagination_link = next_pagination_link + "#" %}
                        {% endif %}

                        {# right navigation #}
                        {% if next_pagination_link != "#" %}
                            <li><a href="{{next_pagination_link}}"><i class="fas fa-angle-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- team-style-three end -->
{% endblock pageContent %}

{# internal script #}
{% block pageScript %}
    <script src="{{ static('assets/js/ajax.js') }}"></script>
{% endblock pageScript %}