<section class="banner-section style-four" style="background-image: url(static/assets/img/shape/shape-33.png);">
    <div class="pattern-layer" style="background-image: url(static/assets/img/shape/shape-34.png);"></div>
    <div class="anim-icon">
        <div class="anim-icon-1" style="background-image: url(static/assets/img/shape/shape-36.png);"></div>
        <div class="anim-icon-2" style="background-image: url(static/assets/img/shape/shape-37.png);"></div>
        <div class="anim-icon-3 rotate-me" style="background-image: url(static/assets/img/shape/shape-38.png);">
        </div>
        <div class="anim-icon-4" style="background-image: url(static/assets/img/shape/shape-39.png);"></div>
    </div>
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <h2>We Innovate Real World Systems</h2>
                            <p>We innovate real world solutions that are<br />easily customizable.</p>
                            <div class="btn-box">
                                <a href="{{ url('research') }}" class="theme-btn-one">Our Research</a>
                                <a href="{{ url('about') }}" class="banner-btn">Discover</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <div class="shape">
                                <div class="shape-1 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                                <div class="shape-2 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                            </div>
                            <figure class="image"><img src="{{ static('/assets/img/banner/robot.png') }}" alt="robot in farm image"
                                    style="width: 570px; height:654px"></figure>
                            <div class="text">
                                <h3>300+</h3>
                                <h4>Journal Articles</h4>
                            </div>
                            <div class="admin-box">
                                <figure class="admin-thumb"><img src="{{ static('/assets/img/banner/project.png') }}"
                                        alt="research projects"></figure>
                                <h4>20+ Projects</h4>
                                <p>Real World Solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <h2>Building Large Enterprise Solutions</h2>
                            <p>We build large enterprise production ready solutions<br />that can be deployed easily</p>
                            <div class="btn-box">
                                <a href="{{ url('project_listings') }}" class="theme-btn-one">Our Projects</a>
                                <a href="{{ url('about') }}" class="banner-btn">Discover</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <div class="shape">
                                <div class="shape-1 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                                <div class="shape-2 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                            </div>
                            <figure class="image"><img src="{{ static('/assets/img/banner/robot_arm_irrigation.jpg') }}"
                                    alt="robot farm irrigation" style="width: 627px; height:687px"></figure>
                            <div class="text">
                                <h3>300+</h3>
                                <h4>Journal Articles</h4>
                            </div>
                            <div class="admin-box">
                                <figure class="admin-thumb"><img src="{{ static('/assets/img/banner/project_2.png') }}"
                                        alt="research project"></figure>
                                <h4>20+ Projects</h4>
                                <p>Real World Solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <h2>Industry and Academic Experts You Can Trust</h2>
                            <p>We are a team of Industry and Academic Experts who <br />Innovate and
                                Build Sustainable Systems.</p>
                            <div class="btn-box">
                                <a href="{{ url('research') }}" class="theme-btn-one">Our Services</a>
                                <a href="{{ url('about') }}" class="banner-btn">Discover</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <div class="shape">
                                <div class="shape-1 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                                <div class="shape-2 rotate-me"
                                    style="background-image: url(static/assets/img/shape/shape-35.png);">
                                </div>
                            </div>
                            <figure class="image"><img src="{{ static('/assets/img/banner/ai.jpg') }}" alt="ai analytics"
                                    style="width: 570px; height:627px"></figure>
                            <div class="text">
                                <h3>300+</h3>
                                <h4>Journal Articles</h4>
                            </div>
                            <div class="admin-box">
                                <figure class="admin-thumb"><img src="{{ static('/assets/img/banner/project_3.png') }}"
                                        alt="research count"></figure>
                                <h4>20+ Projects</h4>
                                <p>Real World Solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>