<section class="funfact-style-two alternat-2" style="background-image: url(static/assets/img/shape/funfact-1.png);">
    <div class="pattern-layer" style="background-image: url(static/assets/img/shape/shape-49.png);"></div>
    <div class="auto-container">
        <div class="sec-title centred">
            <h6>CCPFEWS Services</h6>
            <h2>An Innovative Center You Can Trust <br />We Innovate Solutions</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-two">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-42"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="320">0</span><span>+</span>
                        </div>
                        <h5>Permanent Staff</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-two">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-43"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="10">0</span><span>k+</span>
                        </div>
                        <h5>Test Completed</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-two">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-44"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="320">0</span><span>+</span>
                        </div>
                        <h5>Wining Awards</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-two">
                    <div class="inner-box">
                        <div class="icon-box"><i class="icon-45"></i></div>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="10">0</span><span>k+</span>
                        </div>
                        <h5>Years Of Exps.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- project-section -->
<section class="project-section centred">
    <div class="outer-container">
        <div class="project-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="{{ static('assets/img/gallery/project-1.jpg') }}" alt="project image">
                    </figure>
                    <div class="content-box">
                        <div class="text">
                            <div class="view-btn"><a href="{{ static('assets/img/gallery/project-1.jpg') }}"
                                    class="lightbox-image" data-fancybox="gallery"><i class="icon-49"></i></a>
                            </div>
                            <h4><a href="index-4.html">Cosmetic Testing</a></h4>
                            <p>Lab Test</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="{{ static('assets/img/gallery/project-2.jpg') }}" alt="project two image">
                    </figure>
                    <div class="content-box">
                        <div class="text">
                            <div class="view-btn"><a href="{{ static('assets/img/gallery/project-2.jpg') }}"
                                    class="lightbox-image" data-fancybox="gallery"><i class="icon-49"></i></a>
                            </div>
                            <h4><a href="index-4.html">Cosmetic Testing</a></h4>
                            <p>Lab Test</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="{{ static('assets/img/gallery/project-3.jpg') }}" alt="project three image">
                    </figure>
                    <div class="content-box">
                        <div class="text">
                            <div class="view-btn"><a href="{{ static('assets/img/gallery/project-3.jpg') }}"
                                    class="lightbox-image" data-fancybox="gallery"><i class="icon-49"></i></a>
                            </div>
                            <h4><a href="index-4.html">Cosmetic Testing</a></h4>
                            <p>Lab Test</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="{{ static('assets/img/gallery/project-4.jpg') }}" alt="">
                    </figure>
                    <div class="content-box">
                        <div class="text">
                            <div class="view-btn"><a href="{{ static('assets/img/gallery/project-4.jpg') }}"
                                    class="lightbox-image" data-fancybox="gallery"><i class="icon-49"></i></a>
                            </div>
                            <h4><a href="index-4.html">Cosmetic Testing</a></h4>
                            <p>Lab Test</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-section end -->