<section class="cta-style-two bg-color-4">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(/static/assets/img/shape/shape-61.png);"></div>
        <div class="pattern-2" style="background-image: url(/static/assets/img/shape/shape-62.png);"></div>
    </div>
    <div class="auto-container">
        <div class="inner-box clearfix">
            <div class="text pull-left">
                <h2>We Innovate Real World Solutions</h2>
            </div>
            <div class="btn-box pull-right">
                <a href="#" class="theme-btn-one nav-btn nav-toggler navSidebar-button clearfix">Book A Consultation</a>
            </div>
        </div>
    </div>
</section>