<section class="feature-section alternat-2 centred">
    <div class="auto-container">
        <div class="inner-content">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-31"></i></div>
                            <h4><a href="#">Innovative Build</a></h4>
                            <p>Innovative solutions leveraging Blockchain, Computer Vision, AI, AIMMS, and other advanced technologies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-32"></i></div>
                            <h4><a href="#">Research</a></h4>
                            <p>Research expertise spanning FEWS, Engineering, Computer Science, Construction, and related fields.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-33"></i></div>
                            <h4><a href="#">Consultation</a></h4>
                            <p>Consultation across diverse fields, including Supply Chain, Engineering and the Food-Energy-Water (FEW) Nexus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>