<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="{{ url('home') }}"><img src="{{ static('assets/img/logo.jpg') }}" alt="ccpfews logo"
                    title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        </div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Auckland Park Kingsway Campus, University of Johannesburg.</li>
                <li><a href="tel:+8801682648101">+27 0115592389</a></li>
                <li><a href="mailto:info@example.com">nnwulu@uj.ac.za</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="https://twitter.com/CcpFews" target="_blank"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://www.facebook.com/ccpfewsuj/" target="_blank"><span
                            class="fab fa-facebook-square"></span></a></li>
                <li><a href="https://www.instagram.com/university_of_johannesburg/"><span class="fab fa-instagram"
                            target="_blank"></span></a></li>
                <li><a href="https://www.linkedin.com/company/center-for-cyber-physical-food-energy-and-water-systems/"
                        target="_blank"><span class="fab fa-linkedin"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UC7_Tz0aXtmbeU-HW3dgAwqw" target="_blank"><span
                            class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div>