<section class="chooseus-section sec-pad-2">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_7">
                    <div class="image-box">
                        <figure class="image image-1 paroller"><img
                                src="{{ static('assets/img/banner/robot.png') }}" alt="build service" style="width: 420px; height:520px;"></figure>
                        <figure class="image image-2 paroller-2"><img
                                src="{{ static('assets/img/banner/robot_arm_irrigation.jpg') }}" alt="innovation" style="width: 350px; height:250px;"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_6">
                    <div class="content-box">
                        <div class="sec-title">
                            <h6>Why Partner with US</h6>
                            <h2>We'll Ensure You Always Get The Best Results.</h2>
                        </div>
                        <div class="text">
                            <p>
                                We deliver innovative real-world solutions tailored to your unique needs, 
                                ensuring optimal performance and sustainability. Our expert team utilizes 
                                advanced technologies and data-driven insights to achieve the best possible outcomes.
                            </p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-36"></i></div>
                                <h4>Smart Farming & Agriculture Optimization</h4>
                                <p>
                                    We optimize farming efficiency and ensure food safety through IoT, AI, and data-driven solutions.
                                </p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-51"></i></div>
                                <h4>Blockchain Integration</h4>
                                <p>Our blockchain solutions ensure transparency and strengthen security across supply chains.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-38"></i></div>
                                <h4>Energy and System Optimization</h4>
                                <p>We optimize energy and systems using AI, advanced techniques, and customized hardware solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>