{% extends 'base.html' %}


{% block pageContent %}
    <!-- error-section -->
    <section class="error-section centred" style="margin-top: 130px;"">
        <div class="auto-container">
            <div class="inner-box">
                <h1>400</h1>
                <h2>Bad Request. <br />Problem with request. Kindly check and try again.</h2>
                <a href="{{ url('home') }}" class="theme-btn-one">Go To Home</a>
            </div>
        </div>
    </section>
    <!-- error-section end -->

{% endblock pageContent %}
      