{% extends 'base.html' %}


{% block pageContent %}
    <!-- error-section -->
    <section class="error-section centred" style="margin-top: 130px;"">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Under Maintenance</h1>
                <h2>Site Undergoing Updates. <br />We'll Soon Be Back.</h2>
                <a href="{{ url('home') }}" class="theme-btn-one">Go To Home</a>
            </div>
        </div>
    </section>
    <!-- error-section end -->

{% endblock pageContent %}
      